*,body {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
nav{ 
    height: 60px;
    width: 100%;
    background-color: #515151;
    position: fixed;
}
/*nav is kept seperate form ul in order to facilitate logo*/

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    height: 60px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    
}

main{
    position: absolute;
    height: calc(100vh - 60px);
    top: 60px;
    overflow-y: auto;
    width: 100%;
    scroll-behavior: smooth;
}
section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(even){
    background-color: #ccc;
}

section:before{
    content: attr(data-text);
    color: #999;
    font-size: 3em;
    font-family: sans-serif;
    text-transform: uppercase;
    
}